@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin: 0px;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container,
.main-screen-container {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1284px;
	margin: 0 auto;
}

.main-screen {
	background-image: url("./assets/home-background.png");
	background-size: 1440px 650px;
	background-position: center;
	background-repeat: no-repeat;
	height: 650px;
	background-color: #f5f5f5;
}

main {
	display: grid;
	grid-template-columns: minmax(300px, 600px) minmax(20px, 110px) minmax(300px, auto);
	grid-template-areas: "Text . Form";
	justify-content: space-between;
}

.text-block {
	grid-area: Text;
	color: #fff;
	max-width: 600px;
	margin-top: 150px;
}

h1 {
	color: #fff;
	font-size: 64px;
	line-height: 72px;
}

.text-block > p {
	margin-top: 12px;
}

@supports ((text-stroke: 2px #fff) or (-webkit-text-stroke: 2px #fff)) {
	.marked-h1 {
		font-family: sans-serif;
		color: transparent;
		-webkit-text-stroke: 2px #fff;
		text-stroke: 2px #fff;
		text-shadow: none;
	}
}

.form-block {
	grid-area: Form;
	background: linear-gradient(180deg, #2a7d6c 0%, rgba(62, 105, 96, 0.62) 100%);
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
	padding: 51px 28px 56px 28px;
	margin-top: 48px;
	max-width: 472px;

	min-width: 300px;
}

h3 {
	color: #fff;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	font-weight: 700;
}

.contact-us-form {
	margin-top: 34px;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(2, 1fr);
}

.primary-btn {
	grid-column: 1 / 3;
	margin-top: 25px;
	justify-self: center;
	display: flex;
	background: #5bc8af;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	border: none;
	padding: 16px 60px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.primary-btn > img {
	margin-right: 8px;
}

@media only screen and (max-width: 1100px) {
	.main-screen {
		background-image: url("./assets/home-background-tablet.png");
		background-size: 768px 1090px;
		height: 1090px;
		background-color: #f5f5f5;
	}

	.main-screen-container {
		padding-left: 24px;
		padding-right: 24px;
		max-width: 768px;
	}

	main {
		grid-template-columns: minmax(300px, 575px);
		grid-template-areas:
			"Text"
			"Form";
		justify-content: center;
		justify-items: center;
	}

	.text-block {
		text-align: center;
		margin-top: 38px;
	}

	.text-block > {
		font-size: 18px;
		line-height: 28px;
	}

	.form-block {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 560px) {
	.main-screen-container {
		padding-left: 16px;
		padding-right: 16px;
	}

	main {
		display: grid;
		grid-template-columns: minmax(300px, 575px);
		grid-template-areas:
			"Text"
			"Form";
		justify-content: center;
		justify-items: center;
	}

	h1 {
		font-size: 36px;
		line-height: 34px;
	}

	.text-block {
		text-align: center;
		margin-top: 22px;
	}

	.text-block > {
		font-size: 14px;
		line-height: 24px;
	}

	.form-block {
		width: 100%;
		margin-top: 12px;
		padding: 36px 16px 56px 16px;
	}

	.contact-us-form {
		margin-top: 37px;
		grid-template-columns: none;
	}

	h3 {
		font-size: 24px;
		line-height: 30px;
	}

	.primary-btn {
		grid-column: unset;
		width: 100%;
		justify-content: center;
	}
}

@media only screen and (max-width: 360px) {
	.main-screen {
		background-image: url("./assets/home-background-mobile.png");
		background-size: 360px 1062px;
		height: 1062px;
	}
}

/* Video Section */
.video-section-container {
	position: relative;
	display: flex;
	height: 648px;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

.video-text-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 648px;
	background-image: url("./assets/home-video-bg.png");
	background-repeat: no-repeat;
	background-size: 54% 100%;
}

.video-text {
	width: 39%;
	color: #fff;
	margin-top: 94px;
}

.video-text > ul {
	margin-top: 48px;
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}

.video-text li {
	padding-left: 24px;
	margin-block-end: 22px;
}

.video-text li:before {
	content: url("./assets/checkmark.svg");
	position: absolute;
	left: 0;
}

.video-wrapper {
	display: grid;
	width: 100%;
	height: 100%;
}

.video {
	justify-self: flex-end;
	height: 100%;
}

#play {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	z-index: 10;
	background: rgba(91, 200, 175, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	cursor: pointer;
	transition: all 0.2s;
}

#play:hover {
	width: 228px;
	height: 228px;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 44px;
	line-height: 52px;
	color: #fff;
}

.video-li {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;
	color: #fff;
}

@media only screen and (max-width: 1100px) {
	.container {
		padding-left: 24px;
		padding-right: 24px;
	}

	h2 {
		text-align: center;
	}

	.video-section-container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.video-text-background {
		position: relative;
		z-index: 5;
		width: 100%;
		height: auto;
		background-image: url("./assets/home-video-bg-tablet.png");
		background-size: 100% 100%;
	}

	.video-text {
		width: 100%;
		color: #fff;
		margin-top: 102px;
		margin-bottom: 147px;
	}

	.video-text > ul {
		margin-top: 48px;
		position: relative;
		list-style: none;
		margin-left: 0;
		padding-left: 1.2em;
	}

	.video-text li {
		padding-left: 24px;
		margin-block-end: 24px;
		color: rgba(255, 255, 255, 0.8);
	}

	.video-text li:before {
		content: url("./assets/checkmark.svg");
		position: absolute;
		left: 0;
	}

	.video-wrapper {
		top: -90px;
		position: relative;
		display: grid;
		width: 100%;
		margin-bottom: -90px;
	}

	.video {
		align-self: flex-start;
		width: 100%;
		height: auto;
	}

	#play {
		position: absolute;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media only screen and (max-width: 380px) {
	.container {
		padding-left: 16px;
		padding-right: 16px;
	}

	h2 {
		font-size: 36px;
		line-height: 48px;
		text-align: center;
	}

	.video-li {
		font-size: 18px;
		line-height: 24px;
	}

	.video-text {
		margin-top: 80px;
	}

	.video-wrapper {
		top: -100px;
		margin-bottom: -100px;
	}

	#play {
		top: -10px;
		width: 128px;
		height: 128px;
	}

	#play img {
		width: 100px;
		height: 100px;
	}
}
