div.input-block {
	position: relative;
}
div.input-block input {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	width: 100%;
	padding: 16px 14px;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	outline: none;
}
div.input-block span.placeholder {
	font-family: "Montserrat", sans-serif;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	line-height: 19px;
	position: absolute;
	margin: 17px 0;
	padding: 0 4px;
	display: flex;
	align-items: center;
	top: 0;
	left: 17px;
	transition: all 0.2s;
	transform-origin: 0% 0%;
	background: none;
	pointer-events: none;
}
div.input-block input:valid + span.placeholder,
div.input-block input:focus + span.placeholder {
	transform: scale(0.8) translateY(-30px);
	background: #2f7a6a;
	font-size: 13px;
	line-height: 13px;
}
div.input-block input:focus {
	color: #fff;
	border-color: #fff;
}
div.input-block input:focus + span.placeholder {
	color: #fff;
}

div.input-block input:invalid {
	border-color: #ff7777;
}

div.input-block input:invalid + span.placeholder {
	color: #ff7777;
}

select {
	grid-column: 1 / 3;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	width: 100%;
	padding: 16px 14px;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
	outline: none;
	appearance: none;
	-webkit-appearance: none; /* safari and chrome */
	-moz-appearance: none; /* Mozilla */
	-ms-appearance: none; /* Ie */
	background-position: calc(100% - 12px) center !important;
	background: url("data:image/svg+xml,<svg style='color: white' xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'> <path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' fill='white'></path> </svg>")
		no-repeat;
}

select > option {
	color: #297c6b;
}

.select-placeholder {
	font-family: "Montserrat", sans-serif;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

@media only screen and (max-width: 560px) {
	select {
		grid-column: unset;
	}
}
